body{
    background-color: #1c1a1a;
}
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-image: linear-gradient(to right,rgba(164, 32, 133, 1), rgba(82, 73, 184, 1));
    border-radius: 5px;
}

h2 {
    text-align: center;
    color: #fff;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #fff;
}

p{
    color: #fff;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    display: block;
    width: 40%;
    padding: 10px;
    background-color: #363636;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30%;
}

button[type="submit"]:hover {
    background-color: #2e2e2e;
}

.login-link {
    text-align: center;
    margin-top: 20px;
}

.login-link a {
    color: #814caf;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #f44336;
    border-radius: 5px;
    color: #f44336;
    background-color: #ffebee;
}
